.container {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  border: 1px solid black;
}

.question {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.option {
  border: 1px solid green;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
  cursor: pointer;
}

button {
  margin: 20px;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #ddd;
}

.option.selected {
  background-color: greenyellow;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: 1px solid black;
}

.retry-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
